div {
  border: 2px solid darkblue;
}

/* Header content */

.header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.5rem;
}

.name {
  display: inline-flex;
  align-items: center;
}

.nav {
  display: inline-block;
}
