
div {
  border: 0.5px solid darkblue;
}

/* temp font until typography decisions */

html {
  font-family: Helvetica;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.site-container {
  max-width: 1200px;
  min-width: 960px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4;
}



/* Header content */

.header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.5rem;
}

.name {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
}

.name img {
  margin: 0;

}

.name span {
  font-weight: bold;
  padding: 0;
}


.desktop.nav {
  display: flex;
  align-items: center;
}

li {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
}

@media only screen and (min-width: 471px) {
  header .mobile {
    display: none;
  }
}

@media only screen and (max-width: 470px) {

  .site-container {
      max-width: 470px;
      min-width: 300px;
    }


  .desktop.header {
    display: none;
  }

  header {
    width: 470px;
  }


  .mobile.nav {
    width: 470px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
  }

 img .logo {
    height: 2.5rem;
  }
}
/* Banner */

.banner {
  padding: 2rem 1.5rem;
}

.content {
  display: flex;
}

.content img {
  width: 60%;
  height: 50%;
}



.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  padding-left: 1.5rem;
}

.welcome h4 {
  margin: 1.5rem 0;
}

.button {
  width: 55%;
  text-align: center;
  padding: 0.5rem 0;
}

@media only screen and (min-width: 471px) {
  .banner.mobile {
    display: none;
  }
}

@media only screen and (max-width: 470px) {

  .desktop.banner {
  display: none;
  }

  .desktop.welcome {
    display: none;
  }

  .mobile.banner {
    margin: 0;
    padding: 0;
    max-width: 470px;
    min-width: 470px;
  }

  .mobile.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 470px;
  }

  .mobile.welcome {
    display: flex;
    flex-direction: column;
    /* width: 470px; */
    max-width: 100%;
    margin: 0;
    padding: 2rem 1rem;
  }


  .mobile img {
    width: 100%;
  }

  .mobile.button {
    width: 100%;
  }

}

/* Main section & Video section combined*/

.main {
  display: flex;
}

.mission,
.video {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}

.mission img,
.video video {
  width: 100%;
  margin-bottom: 0;
}

.mission h2,
.video h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.mission p,
.video p {
  line-height: 1.2;
  font-size: 1rem;
}

.mission span {
margin-bottom: 0;
padding-top: 40px;
font-size: 0.75rem;
}

.info {
  width: 38%;
  margin-top: 1rem;
  margin-right: 1.5rem;
  margin-left: 0.75rem;
  margin-bottom: 2rem;
}

.selection {
  display: flex;
  justify-content: space-between;

}

.selection img {
  padding: 1rem;
  width: 35%;
  height: 100%;
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.choices p {
  margin: 0.5rem 0;
  line-height: 1.2;
  font-size: 1rem;
}

@media only screen and (min-width: 471px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 470px) {

  .desktop {
    display: none;
  }

  .main {
    display: flex;
    margin: 1rem 1rem 2rem 1rem;
  }

  .mission {
    display: none;
  }

  .info {
    width: 100%;
    margin: 0;
    padding: 0;
  }



  .selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .selection img {
    padding: 0;
    width: 100%;
  }

  .choices {
    width: 100%;
    margin: 1rem auto 4rem 1rem;

  }

}


/* Courses */


.course-container h1 {
  margin-top: 2rem;
  text-align: center;
}

.courses {
  display: flex;
  flex-direction: column;
  margin: 2rem 4.5rem;
}


.options img {
  width: 100%;
  height: auto;
}


.row1,
.row2 {
  display: flex;
}

.row1.options,
.row2.options {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.row1 {
  margin-bottom: 2rem;
}

.options h3 {
  margin: 1rem 0 0.75rem 1rem;
}

.options span {
  margin: 0.75rem 0 0.5rem 1rem;
}

.options p {
  padding: 0.5rem 0 1.5rem 1rem;
  line-height: 1.3;
}

.center {
  margin: 0 2rem;
}



@media only screen and (max-width: 470px) {

  .course-container h1 {
  margin-bottom: 1rem;
  }

  .courses {
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
  }

  .row1,
  .row2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .row1 img,
  .row2 img {
    display: none;
  }

  .row1 {
    margin-bottom: 0rem;
  }

  .center {
    margin: 0;
  }

  .row1.options,
  .row2.options {
    margin-bottom: 0.5rem;
  }

  .row2.options:last-child {
    margin-bottom: 1.5rem;
  }


  .options h3 {
    margin: 1rem 0 1.5rem 1rem;
  }

  .options span,
  .options p {
    display: none;
  }

}



/* Video Section */
 /* Same as the main section so they are combined above */

@media only screen and (max-width: 470px) {

   .thesis-container h1 {
   padding: 2rem 0 1rem 0;
   text-align: center;
    }

    .main {
      margin: 0 0 1.5rem 0;
    }

    .thesis-info,
    .video h2,
    .video p  {
      display: none;
    }

    .video {
      width: 100%;
      margin: 0;
      padding: 0;
    }

 }

/* Footer section */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 3rem 1.5rem;
}

.footer ul span {
  margin-left: 1rem;
}

@media only screen and (max-width: 470px) {

  .footer {
    padding: 1rem 0 1rem 1rem;
  }

  .footer ul {
    display: none;
  }

 }
